body {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
}

:root {
    --mainColor: #5050ff;
    --white: #fff;
}

.sidenav {
    height: 100vh;
    flex: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/forms/bg-form.jpg");
    background-size: cover;
    color: var(--white);
}

.main {
    flex: 1;
}

.main form {
    width: 80%;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    right: 0px;
    cursor: pointer;
    padding: 10px;
    color: #777;
}

.fa-eye-slash {
    display: none;
}

.btn-log {
    background-color: var(--mainColor);
    color: var(--white);
}

.btn-log:hover {
    color: var(--mainColor);
    border: 1px solid var(--mainColor) !important;
    background-color: var(--white);
}

.registre p {
    color: #777;
}

@media (max-width: 992px) {
    .forms,
    .registre {
        display: block !important;
        text-align: center;
    }
    .sidenav {
        height: 50vh;
        margin-bottom: 20px;
    }
    .login-main-text {
        text-align: center;
        padding: 20px;
    }
    .main form {
        width: 100%;
    }
}
